<!-- views/agregar.ejs -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Agregar categoria</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">

</head>

<body>
    <h1>Agregar categoria</h1>
    <form action="/agregarcategoria" method="post">
        <label for="categoria_id">categoria_id</label>
        <input type="text" id="categoria_id" name="categorias_id" required>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br>
        <input type="submit" value="Agregar">
    </form>
</body>

</html>