
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Editar Fabricante</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Editar Fabricante</h1>
  <form action="/editarfabricante/<%= fabricantes.fabricante_id %>" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" value="<%= fabricantes.nombre %>" required>
    <br>
    
    <input type="submit" value="Guardar">
  </form>
</body>
</html>