<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1 id="home">HOME</h1>
    <a href="http://localhost:3000/listaproductos" style="text-decoration: none;" class="los3"> Productos </a>
    <a href="http://localhost:3000/listafabricante" style="text-decoration: none;" class="los3"> Fabricantes </a> 
    <a href="http://localhost:3000/listacategorias" style="text-decoration: none;" class="los3"> Categorias </a> 
    
</body>
</html>