<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/public/styles.css">
</head>
<body>
    <h1>HOME</h1>
    <p> <a href="http://localhost:3000/listaproductos"> Productos </a> </p>
    <p> <a href="http://localhost:3000/listafabricantes"> Fabricantes</a> </p>
    <p>Categorias</p>
    
</body>
</html>